@page "/endpoints"
@page "/api/endpoints"
@inject NavigationManager navigation

<h2><b>Endpoints</b></h2>

<br />


<ul>
    <li>
        <h5>Fetch all breeds:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds</span>
            - returns all breeds.
        </p>
    </li>

    <li>
        <h5>Fetch breed by ID:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/10</span>
            - returns breed by its ID.
        </p>
    </li>

    <li>
        <h5>Fetch a random breed:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/random</span>
            - returns a random breed.
        </p>
    </li>

    <li>
        <h5>Fetch breeds by category:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/categoryName</span>
            (toy, herding, sporting, working, hound, terrier, non-sporting, mixes and more) - returns all breeds of the specified category.
        </p>
    </li>

    <li>
        <h5>Fetch friendly breeds:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/friendly</span>
            - returns all friendly breeds.
        </p>
    </li>

    <li>
        <h5>Fetch protector breeds:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/protector</span>
            - returns breeds that are good as watchdogs.
        </p>
    </li>

    <li>
        <h5>Fetch low maitenance breeds:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/low-maitenance</span>
            - returns breeds that don't have many needs.
        </p>
    </li>

    <li>
        <h5>Fetch intelligent breeds:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/breeds/intelligent</span>
            - returns breeds that are super intelligent
        </p>
    </li>

    <li>
        <h5>Fetch dog breed image:</h5>
        <p>
            <span class="bg-warning">GET @navigation.Uri</span><span class="bg-warning">api/images/breedName</span>
            (akita, beagle, dalmatian...) - returns an image of the given breed
        </p>
    </li>
</ul>